<%= form_with(model: over, local: true) do |form| %>
  <% if over.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(over.errors.count, "error") %> prohibited this over from being saved:</h2>

      <ul>
        <% over.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :over_no %>
    <%= form.number_field :over_no %>
  </div>

  <div class="field">
    <%= form.label :bowler_id %>
    <%= form.number_field :bowler_id %>
  </div>

  <div class="field">
    <%= form.label :runs %>
    <%= form.number_field :runs %>
  </div>

  <div class="field">
    <%= form.label :wides %>
    <%= form.number_field :wides %>
  </div>

  <div class="field">
    <%= form.label :no_balls %>
    <%= form.number_field :no_balls %>
  </div>

  <div class="field">
    <%= form.label :byes %>
    <%= form.number_field :byes %>
  </div>

  <div class="field">
    <%= form.label :leg_byes %>
    <%= form.number_field :leg_byes %>
  </div>

  <div class="field">
    <%= form.label :inning_id %>
    <%= form.text_field :inning_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
