<p id="notice"><%= notice %></p>

<h1>Balls</h1>

<table>
  <thead>
    <tr>
      <th>Ball no</th>
      <th>Striker</th>
      <th>Non striker</th>
      <th>Runs</th>
      <th>Wide</th>
      <th>No ball</th>
      <th>Bye</th>
      <th>Leg bye</th>
      <th>Wicket</th>
      <th>How out</th>
      <th>Field</th>
      <th>Batter out</th>
      <th>Over</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balls.each do |ball| %>
      <tr>
        <td><%= ball.ball_no %></td>
        <td><%= ball.striker_id %></td>
        <td><%= ball.non_striker_id %></td>
        <td><%= ball.runs %></td>
        <td><%= ball.wide %></td>
        <td><%= ball.no_ball %></td>
        <td><%= ball.bye %></td>
        <td><%= ball.leg_bye %></td>
        <td><%= ball.wicket %></td>
        <td><%= ball.how_out %></td>
        <td><%= ball.field %></td>
        <td><%= ball.batter_out_id %></td>
        <td><%= ball.over_id %></td>
        <td><%= link_to 'Show', ball %></td>
        <td><%= link_to 'Edit', edit_ball_path(ball) %></td>
        <td><%= link_to 'Destroy', ball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
