<p id="notice"><%= notice %></p>

<p>
  <strong>Ball no:</strong>
  <%= @ball.ball_no %>
</p>

<p>
  <strong>Striker:</strong>
  <%= @ball.striker_id %>
</p>

<p>
  <strong>Non striker:</strong>
  <%= @ball.non_striker_id %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @ball.runs %>
</p>

<p>
  <strong>Wide:</strong>
  <%= @ball.wide %>
</p>

<p>
  <strong>No ball:</strong>
  <%= @ball.no_ball %>
</p>

<p>
  <strong>Bye:</strong>
  <%= @ball.bye %>
</p>

<p>
  <strong>Leg bye:</strong>
  <%= @ball.leg_bye %>
</p>

<p>
  <strong>Wicket:</strong>
  <%= @ball.wicket %>
</p>

<p>
  <strong>How out:</strong>
  <%= @ball.how_out %>
</p>

<p>
  <strong>Field:</strong>
  <%= @ball.field %>
</p>

<p>
  <strong>Batter out:</strong>
  <%= @ball.batter_out_id %>
</p>

<p>
  <strong>Over:</strong>
  <%= @ball.over_id %>
</p>

<%= link_to 'Edit', edit_ball_path(@ball) %> |
<%= link_to 'Back', over_balls_path(@ball.over_id) %>
