<%= form_with(model: bowling, local: true) do |form| %>
  <% if bowling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bowling.errors.count, "error") %> prohibited this bowling from being saved:</h2>

      <ul>
        <% bowling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bowling_team %>
    <%= form.text_field :bowling_team %>
  </div>

  <div class="field">
    <%= form.label :overs %>
    <%= form.text_field :overs %>
  </div>

  <div class="field">
    <%= form.label :runs %>
    <%= form.number_field :runs %>
  </div>

  <div class="field">
    <%= form.label :wickets %>
    <%= form.number_field :wickets %>
  </div>

  <div class="field">
    <%= form.label :wides %>
    <%= form.number_field :wides %>
  </div>

  <div class="field">
    <%= form.label :no_balls %>
    <%= form.number_field :no_balls %>
  </div>

  <div class="field">
    <%= form.label :inning_id %>
    <%= form.text_field :inning_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
