<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @batter.name %>
</p>

<p>
  <strong>History:</strong>
  <%= @batter.history %>
</p>

<p>
  <strong>Balls faced:</strong>
  <%= @batter.balls_faced %>
</p>

<p>
  <strong>Zero:</strong>
  <%= @batter.zero %>
</p>

<p>
  <strong>One:</strong>
  <%= @batter.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @batter.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @batter.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @batter.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @batter.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @batter.six %>
</p>

<p>
  <strong>How out:</strong>
  <%= @batter.how_out %>
</p>

<p>
  <strong>Bowler:</strong>
  <%= @batter.bowler_id %>
</p>

<p>
  <strong>Fielder:</strong>
  <%= @batter.fielder %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @batter.runs %>
</p>

<p>
  <strong>Batting:</strong>
  <%= @batter.batting_id %>
</p>

<%= link_to 'Edit', edit_batter_path(@batter) %> |
<%= link_to 'Back', batting_batters_path(@batter.batting_id) %>
