<p id="notice"><%= notice %></p>

<h1>Innings</h1>

<table>
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Ground</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Competition</th>
      <th>Round</th>
      <th>Umpire 01</th>
      <th>Umpire 02</th>
      <th>Batting team</th>
      <th>Bowling team</th>
      <th>Inning no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @innings.each do |inning| %>
      <tr>
        <td><%= inning.home %></td>
        <td><%= inning.away %></td>
        <td><%= inning.ground %></td>
        <td><%= inning.start_date %></td>
        <td><%= inning.end_date %></td>
        <td><%= inning.competition %></td>
        <td><%= inning.round %></td>
        <td><%= inning.umpire_01 %></td>
        <td><%= inning.umpire_02 %></td>
        <td><%= inning.batting_team %></td>
        <td><%= inning.bowling_team %></td>
        <td><%= inning.inning_no %></td>
        <td><%= link_to 'Show', inning %></td>
        <td><%= link_to 'Edit', edit_inning_path(inning) %></td>
        <td><%= link_to 'Destroy', inning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inning', new_inning_path %>
