<p id="notice"><%= notice %></p>

<h1>Battings</h1>

<table>
  <thead>
    <tr>
      <th>Batting team</th>
      <th>Overs</th>
      <th>Runs</th>
      <th>Wickets</th>
      <th>Byes</th>
      <th>Leg byes</th>
      <th>Inning</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battings.each do |batting| %>
      <tr>
        <td><%= batting.batting_team %></td>
        <td><%= batting.overs %></td>
        <td><%= batting.runs %></td>
        <td><%= batting.wickets %></td>
        <td><%= batting.byes %></td>
        <td><%= batting.leg_byes %></td>
        <td><%= batting.inning_id %></td>
        <td><%= link_to 'Show', batting %></td>
        <td><%= link_to 'Edit', edit_batting_path(batting) %></td>
        <td><%= link_to 'Destroy', batting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
