<p id="notice"><%= notice %></p>

<h1>Bowlers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Overs</th>
      <th>Wickets</th>
      <th>Maidens</th>
      <th>Runs</th>
      <th>Wides</th>
      <th>No balls</th>
      <th>Bowling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowlers.each do |bowler| %>
      <tr>
        <td><%= bowler.name %></td>
        <td><%= bowler.overs %></td>
        <td><%= bowler.wickets %></td>
        <td><%= bowler.maidens %></td>
        <td><%= bowler.runs %></td>
        <td><%= bowler.wides %></td>
        <td><%= bowler.no_balls %></td>
        <td><%= bowler.bowling_id %></td>
        <td><%= link_to 'Show', bowler %></td>
        <td><%= link_to 'Edit', edit_bowler_path(bowler) %></td>
        <td><%= link_to 'Destroy', bowler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
